footer { /* stylelint-disable-line */
  @apply
  border-t-2
  border-blue-france-113-main
  dark:border-blue-france-625-main;

  .footer-content {
    @apply
      px-8
      mx-auto
      container;

    .logo-info {
      @apply flex py-8;

      .logo {
        @apply flex-1;
      }

      .info {
        @apply
          flex
          flex-1
          text-sm
          flex-col
          text-justify
          justify-center;
  
        p {
          @apply mb-4 last:mb-0;
        }
      }
    }

    .links {
      @apply
        py-4
        mx-auto
        text-xs
        border-t
        container
        items-baseline
        border-grey-850-main
        dark:border-gray-500;
  
      a {
        @apply
          px-4
          border-r
          first:pl-0
          last:border-0
          text-gray-600
          dark:text-gray-300
          border-grey-850-main
          dark:border-gray-500;
      }

      button {
        @apply p-0 ml-4;
      }
    }
  }
}
