.ReactModalPortal { /* stylelint-disable-line */
  .ReactModal__Overlay { /* stylelint-disable-line */
    @apply flex justify-center items-center mt-28 bg-red-marianne-100-main z-10;

    background-color: rgb(255 255 255 / 90%) !important;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .ReactModal__Overlay--after-open { /* stylelint-disable-line */
    opacity: 1;
  }

  .ReactModal__Overlay--before-close { /* stylelint-disable-line */
      opacity: 0;
  }

  .ReactModal__Content { /* stylelint-disable-line */
    @apply relative -translate-y-1/4 shadow-lg;

    position: relative !important;

    .close {
      @apply absolute right-0 top-2;
    }

    .users {
      @apply flex items-center;

      & > .user {
        @apply
        flex-1
        bg-grey-975-main
        dark:bg-grey-75-main;
      }

      & > i {
        @apply text-2xl mx-6;
      }
    }

    .buttons {
      @apply flex justify-between;
    }
  }
}
