.search {
  @apply
    z-20
    top-0
    pt-10
    sticky
    bg-gradient-to-b
    from-grey-1000-main
    via-grey-1000-main
    dark:from-grey-50-main
    dark:via-grey-50-main;

  .search-field {
    @apply flex relative;
  
    &::before {
      top: 0.75rem;
      left: 0.75rem;
      line-height: 1;
      font-size: 1rem;
      content: "\F0D1";
      font-weight: bold;
      position: absolute;
      font-family: remixicon, sans-serif !important;
    }
  
    input {
      @apply flex-1 pl-9;
    }
  }

  .filters {
    @apply
      flex
      pt-2
      pb-8
      items-center
      justify-between
      bg-gradient-to-b
      from-grey-1000-main
      via-grey-1000-main
      dark:from-grey-50-main
      dark:via-grey-50-main;

    .actions {
      @apply flex items-center;

      .alert-filter, .expiry-filter {
        @apply ml-2 flex items-center;

        .badge {
          @apply text-xs cursor-pointer;

          &::before {
            @apply text-sm;
          }
        }
      }

      .services {
        @apply flex items-center;
  
        .service {
          @apply mr-2 cursor-pointer flex items-center;
        }
      }
    }

    .counts {
      @apply text-sm;
    }
  }
}

