.user-list {

  .tile {

    .user {
      @apply flex flex-row;

      .info {
        @apply flex-1 ml-2;

        min-width: 0;

        h3 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          & > span {
            @apply font-normal text-sm;
          }
        }

        .email {
          @apply text-sm;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .services {
        @apply flex flex-col;

        div {
          @apply ml-1;
        }
      }
    }
  }
}
