# Dependency directories
node_modules/

# dotenv environment variables file
.env*
!.env.sample

# Next.js build output
.next

# VSCode
.vscode

# dev assets
.assets

# jest's coverage output
coverage

# LHCI
.lighthouseci

.tmuxp.yaml
