# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.local

# Next.js build output
.next

# VSCode
.vscode

# dev assets
.assets

# yarn
yarn-error.log

# jest's coverage output
coverage

# LHCI
.lighthouseci
