@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      text-base
      font-sans
      font-normal
      antialiased
      min-h-screen
      
      bg-grey-1000-main
      dark:bg-grey-50-main
    
      text-grey-200-main
      dark:text-grey-850-main;
  
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
  }

  h1, h2, h3, h4, h5 {
    @apply
      text-grey-50-main
      dark:text-grey-1000-main;
  }

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply font-bold;
  }

  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Marianne/Marianne-Light.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Light.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/Marianne/Marianne-Light_Italic.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Light_Italic.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Marianne/Marianne-Regular.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Regular.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Marianne/Marianne-Regular_Italic.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Regular_Italic.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Marianne/Marianne-Bold.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Bold.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/Marianne/Marianne-Bold_Italic.woff2") format("woff2"),
      url("/fonts/Marianne/Marianne-Bold_Italic.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Spectral;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Spectral/Spectral-Regular.woff2") format("woff2"),
      url("/fonts/Spectral/Spectral-Regular.woff") format("woff")
  }
  
  @font-face {
    font-display: swap;
    font-family: Spectral;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Spectral/Spectral-ExtraBold.woff2") format("woff2"),
      url("/fonts/Spectral/Spectral-ExtraBold.woff") format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: Remixicon;
    src: url('/fonts/Remixicon/remixicon.eot?t=1590207869815'); /* IE9 */
    src: url('/fonts/Remixicon/remixicon.eot?t=1590207869815#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url("/fonts/Remixicon/remixicon.woff2?t=1590207869815") format("woff2"),
      url("/fonts/Remixicon/remixicon.woff?t=1590207869815") format("woff"),
      url('/fonts/Remixicon/remixicon.ttf?t=1590207869815') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('/fonts/Remixicon/remixicon.svg?t=1590207869815#remixicon') format('svg'); /* iOS 4.1- */
  }
}
