.user-arrival-departure {
  @apply
    p-2
    mx-4
    mt-4
    mb-2
    grid
    gap-x-2
    text-sm
    grid-cols-2
    bg-grey-950-main
    dark:bg-grey-100-main;

  input {
    width: 100%;
  }

  .display-date {
    @apply
      p-2
      flex
      border
      items-center
      justify-center
      cursor-pointer
      border-grey-950-main
      dark:border-grey-100-main
      hover:border-grey-950-hover
      dark:hover:border-grey-100-hover;
  }
}
