.users-view {
  @apply grid grid-cols-2;

  .user-list {
    .tile {
      @apply
        mb-4
        border-t
        border-x
        shadow-sm
        border-b-2
        bg-beige
        cursor-pointer
        border-t-gray-200
        border-x-gray-200
        border-b-blue-500
        hover:bg-gray-200;

      &.selected {
        @apply bg-white shadow-none;
      }
    }

    button {
      @apply w-full flex justify-center;
    }
  }

  .selected-user {
    @apply flex flex-col ml-6;

    .sticky-container {
      @apply flex flex-col sticky top-36;

      height: calc(100vh - 17rem);
    }
  }
}

.no-users {
  @apply h-full flex flex-col justify-center;

  height: calc(100vh - 33.5rem);

  .callout {
    @apply mx-10;
  }
}
