.users-view {
  @apply grid grid-cols-2;

  .user-list {
    .tile {
      @apply
        mb-4
        border
        relative
        shadow-sm
        border-l-2
        cursor-pointer

        bg-grey-1000-active
        dark:bg-grey-50-active
        hover:bg-grey-1000-hover
        dark:hover:bg-grey-50-hover

        border-grey-925-active
        dark:border-grey-125-main
        hover:border-grey-925-hover
        dark:hover:border-grey-125-hover

        border-l-grey-200-active
        hover:border-l-grey-200-hover
        dark:border-l-grey-850-active
        dark:hover:border-l-grey-850-hover;

      &.selected {
        @apply
          shadow-none
          bg-grey-1000-main
          dark:bg-grey-100-main
          border-grey-925-main
          dark:border-grey-125-main
          border-l-blue-france-113-main
          dark:border-l-blue-france-625-main;
      }

      &.dragging {
        @apply
          border-l
          border-dashed
          border-l-grey-925-active;

        &::before {
          @apply
            z-10
            top-0
            left-0
            right-0
            bottom-0
            absolute
            content-[""]
            bg-grey-1000-main;
        }
      }

      &.draggable {
        .drag-handler {
          @apply
            w-4
            h-4
            z-30
            top-3
            right-3
            absolute
            text-base
            font-bold
            font-remix
            cursor-move
            whitespace-pre-wrap
            text-grey-625-active
            hover:text-grey-625-main
            ;

          &::before {
            @apply content-["\EF78\A\EF78"];
          }

          line-height: 0.5rem;
          text-shadow: 0 1px 1px #fff;
        }
      }
    }

    button {
      @apply w-full flex justify-center;
    }
  }

  .selected-user {
    @apply flex flex-col ml-6;

    .sticky-container {
      @apply flex flex-col sticky top-36;

      height: calc(100vh - 17rem);

      & > div.drop-allowed {
        @apply bg-yellow-50;
      }

      & > div.drop-over {
        @apply bg-yellow-100;
      }
    }
  }
}

.no-users {
  @apply h-full flex flex-col justify-center;

  height: calc(100vh - 33.5rem);

  .callout {
    @apply mx-10;
  }
}
