.user-arrival-departure {
  @apply
    flex
    my-2
    text-sm
    gap-y-2
    flex-col
    sm:gap-y-2
    sm:flex-col
    md:gap-x-4
    md:flex-col
    lg:flex-row
    lg:justify-center;

  .date {
    @apply
      flex
      flex-row
      items-center
      sm:flex-row
      sm:items-center
      md:flex-row
      md:items-center
      lg:flex-col
      lg:items-start
      xl:gap-2
      xl:flex-row
      xl:items-center
      xl:justify-center;

    &.expired {
      @apply text-error-425-main;
    }

    label {
      @apply
        text-xs
        flex-1
        sm:flex-1
        md:flex-1
        lg:flex-none;
    }
  }

  input[type="date"] {
    @apply w-44;
  }
}
