.user-item {
   @apply flex;

  .user {
    @apply
      mb-4
      flex-1
      relative
      select-none;

    &.selected {
      @apply shadow-none;
    }

    &.draggable {
      @apply
        shadow
        cursor-pointer
        transition-all
        hover:shadow-lg
        bg-grey-975-main
        border-l-grey-425-main
        dark:bg-grey-75-main
        dark:border-l-grey-525-main
        hover:bg-grey-1000-main
        hover:border-l-blue-france-113-main
        hover:dark:bg-grey-100-main
        hover:dark:border-l-blue-france-625-main;

      .avatar {
        svg {
          @apply
            fill-grey-425-main
            dark:fill-grey-525-main;
        }
      }

      &:hover .avatar {
        svg {
          @apply
            fill-blue-france-113-main
            dark:fill-blue-france-625-main;
        }
      }
    }

    &.dragging {
      @apply transition-none opacity-0;
    }
  }
}
