.user-profile {
  @apply
    flex
    flex-1
    flex-col
    overflow-auto;

  .header {
    @apply
      p-4
      border-b
      relative
      shadow-sm
      border-b-grey-925-main
      dark:border-b-grey-125-main;
  }

  .content {
    @apply
      p-4
      grid
      gap-4
      grid-cols-1
      overflow-auto;
    
    .services {
      @apply
        flex
        flex-1
        flex-col;
  
      .service {
        @apply
          flex
          flex-col;
  
        h3 {
          @apply
            flex
            pb-2
            mb-2
            border-b
            items-center
            justify-between
            border-b-grey-925-main
            dark:border-b-grey-125-main;
  
          .icon-title {
            @apply
              flex
              flex-row;

            .icon {
              @apply flex;
            }
    
            .title {
              @apply ml-1 capitalize;
            }
          }
        }
  
        .info-table {
          @apply text-xs mb-4;
  
          .contents {
            & > div {
              @apply p-1 truncate;
            }
  
            & > div:first-child {
              @apply font-bold;
            }
  
            &:nth-child(odd) > div {
              @apply
                bg-grey-975-main
                dark:bg-grey-75-main;
            }
          }
        }

        .teams {
          @apply mt-2;
        }
      }
    }
  }
}
