.user-header {
  @apply flex items-center flex-row mb-2;

  .avatar {
    @apply flex;

    img {
      @apply rounded-sm;
    }

    svg {
      @apply
      w-10
      h-10
      flex
      items-center
      justify-center
      fill-blue-france-113-main
      dark:fill-blue-france-625-main;
    }
  }

  .info {
    @apply
      flex
      ml-2
      flex-1
      flex-col
      justify-center;

    min-width: 0;

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      & > span {
        @apply font-normal text-sm;
      }
    }

    .email {
      @apply text-sm;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
