a {
  @apply
    outline-none
    decoration-0;

  &:link {
    @apply
      text-blue-france-113-main
      dark:text-blue-france-625-main;
  }
  
  &:visited {
    @apply
      text-blue-france-113-main
      dark:text-blue-france-625-main;
  }
  
  &:focus, &:hover {
    @apply
      text-blue-france-113-hover
      dark:text-blue-france-625-hover
      ;
  }
  
  &:active {
    @apply text-blue-france-113-active;
  }

  &[target="_blank"] {
    &::after {
      top: 2px;
      left: 1px;
      content: "\ecaf";
      font-style: normal;
      position: relative;
      font-family: remixicon, sans-serif !important;
    }
  }

  i {
    @apply relative top-0.5 mr-1;
  }
}
