a {
  @apply text-blue-500;

  i {
    @apply relative top-0.5 mr-1;
  }
}

a[target="_blank"] {
  &::after {
    top: 2px;
    left: 1px;
    content: "\ecaf";
    font-style: normal;
    position: relative;
    font-family: remixicon, sans-serif !important;
  }
}
