a {
  @apply
    outline-none
    decoration-0;

  &:link {
    @apply
      text-blue-france-113-main
      dark:text-blue-france-625-main;
  }
  
  &:visited {
    @apply
      text-blue-france-113-main
      dark:text-blue-france-625-main;
  }
  
  &:focus, &:hover {
    @apply
      text-blue-france-113-hover
      dark:text-blue-france-625-hover;
  }
  
  &:active {
    @apply text-blue-france-113-active;
  }

  &[target="_blank"] {
    &::after {
      @apply
        top-0.5
        left-px
        relative
        font-remix
        content-["\ECAF"];
    }
  }

  i {
    @apply
      mr-1
      top-0.5
      relative;
  }
}
