.badge {
  @apply
    px-2
    rounded
    text-sm
    flex-row
    font-bold
    uppercase
    leading-6
    max-w-full
    font-arial
    inline-flex
    items-center;

  &::before {
    @apply
      mr-1
      -ml-1
      text-base
      font-remix
      font-normal;
  }

  &.warning {
    @apply
      bg-yellow-moutarde-950-main
      text-yellow-moutarde-348-main
      dark:bg-yellow-moutarde-125-main
      dark:text-yellow-moutarde-850-main;

    &::before {
      @apply content-["\EA21"];
    }
  }

  &.expiry {
    @apply
      bg-warning-950-main
      text-warning-425-main
      dark:bg-warning-125-main
      dark:text-warning-625-main;

    &::before {
      @apply content-["\EB27"];
    }
  }

  &.icon {
    &::before {
      @apply mx-0;
    }
  }

  &.disabled {
    @apply
      bg-grey-925-main
      text-grey-625-main
      dark:bg-grey-125-main
      dark:text-grey-425-main;
  }
}
