.badge {
  @apply
    px-1.5
    py-0.5
    rounded
    text-sm
    flex-row
    font-bold
    uppercase
    max-w-full
    inline-flex
    items-center;

  &.warning {
    @apply
    pl-6
    relative
    bg-warning-950-main
    text-warning-425-main
    dark:bg-warning-125-main
    dark:text-warning-625-main;

    &::before {
      top: 0.25rem;
      left: 0.35rem;
      line-height: 1;
      font-size: 16px;
      content: "\EA20";
      position: absolute;
      font-family: remixicon, sans-serif !important;
    }
  }
}
