button,
a.btn {
  @apply
    px-4
    py-3
    relative
    leading-4
    inline-block
    cursor-pointer
    disabled:cursor-not-allowed;

  &.primary {
    @apply
      shadow
      font-bold
      text-grey-1000-main
      bg-blue-france-113-main
      dark:bg-blue-france-625-main
      active:shadow-sm
      hover:bg-blue-france-113-hover
      dark:hover:bg-blue-france-625-hover
      active:bg-blue-france-113-active
      dark:active:bg-blue-france-625-active
      disabled:shadow-none
      disabled:bg-gray-200
      disabled:text-gray-600;
  }

  &.secondary {
    @apply
      shadow
      border
      text-blue-france-113-main
      border-blue-france-113-main
      active:shadow-sm
      hover:bg-gray-300
      active:bg-gray-300;
  }

  &.link {
    @apply p-0 underline text-red-marianne-472-main;
  }

  &.sm {
    @apply text-sm px-3 py-2;
  }

  i {
    @apply relative top-px mr-1;
  }
}
