input[type="date"] {
  font-family: monospace;
}

input[type="text"],
input[type="date"],
input[type="search"] {
  @apply
    py-2
    px-4
    border-0
    rounded-t
    shadow-input
    outline-none
    bg-grey-950-main
    dark:shadow-input-dark
    dark:bg-grey-100-main;

  &.error {
    @apply shadow-input-error;
  }

  &.disabled,
  &:disabled {
    @apply
    border-grey-200-main
    dark:border-grey-850-main;
  }
}
