@use "../../../../node_modules/spinthatshit/src/loaders.scss" as spinthatshit;

.loader.sm {
  @include spinthatshit.loader02(
    $size: 24px,
    $color: #000091,
    $border-size: 4px,
  );
}

.loader.md {
  @include spinthatshit.loader02(
    $size: 48px,
    $color: #000091,
    $border-size: 7px,
  );
}

.loader.lg {
  @include spinthatshit.loader02(
    $size: 96px,
    $color: #000091,
    $border-size: 10px,
  );
}
