[class^="ri-"], [class*=" ri-"] {
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Remixicon, sans-serif !important;
}

.ri-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.ri-xl {
  font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em;
}
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }

.ri-fw {
  text-align: center; width: 1.25em;
}

.ri-sun-line::before { content: "\f1bf"; }
.ri-moon-line::before { content: "\ef75"; }
.ri-alert-fill::before { content: "\ea20"; }
.ri-eject-fill::before { content: "\ec87"; }
.ri-github-fill::before { content: "\edca"; }
.ri-search-line::before { content: "\f0d1"; }
.ri-information-fill::before { content: "\ee58"; }
.ri-close-circle-fill::before { content: "\eb96"; }
.ri-checkbox-circle-fill::before { content: "\eb80"; }
.ri-close-line::before { content: "\eb99"; }

// All other icon classes are availble here:
// https://github.com/Remix-Design/RemixIcon/blob/master/fonts/remixicon.css
